.calendar-container {
  position: relative;
  .calendar-overlay {
    position: absolute;
    top: -14px;
    height: calc(-113px + 100vh);
    left: -14px;
    right: -14px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    mat-progress-spinner {
        width: 25px !important;
        height: 25px !important;
        margin-bottom: 20px;
        svg {
            width: 25px !important;
            height: 25px !important;
        }
    }
  }
}
.mat-menu-panel {
  button.mat-menu-item {
    font-size: 13px;
    letter-spacing: 0.8px;
    height: 35px;
    line-height: 35px;
    mat-icon {
      font-size: 22px;
    }
  }
  .mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
  }
}
