.month {
  .day-names {
    border-right: 1px solid #efefef;
    > div {
      text-align: center;
      border: 1px solid #efefef;
      border-right: 0;
      border-bottom: 0;
      padding: 10px 0;
    }
  }
  .days {
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    .day-row {
      position: relative;
      .row-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 25px;
        bottom: 0;
        z-index: 2;
        .event {
          position: absolute;
          height: 20px;
          box-sizing: border-box;
          line-height: 20px;
        }
      }
      .day {
        border: 1px solid #efefef;
        border-right: 0;
        border-bottom: 0;
        position: relative;
        height: 100%;
        .date-badge {
          position: absolute;
          top: 5px;
          right: 5px;
          font-size: 14px;
          font-weight: 100;
          z-index: 1;
          &.inactive {
            color: #ccc;
          }
        }
        &.today {
          background-color: #fcf8e3;
        }
      }
    }
  }
}
