.month {
  .day-names {
    border-right: 1px solid #efefef;
    > div {
      text-align: center;
      border: 1px solid #efefef;
      border-right: 0;
      border-bottom: 0;
      padding: 10px 0;
    }
  }
  .days {
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    .day-row {
      position: relative;
      .day {
        border: 1px solid #efefef;
        border-right: 0;
        border-bottom: 0;
        position: relative;
        height: 100%;
        .date-badge {
          position: absolute;
          top: 5px;
          right: 5px;
          font-size: 14px;
          font-weight: 100;
          z-index: 1;
        }
        &.today {
          background-color: #fcf8e3;
        }
      }
    }
  }
}
