$primary-color: #3f51b5;
$white-color: #ffffff;

.inner-data {
  position: relative;
  padding: 0;
  background-color: $primary-color;
  color: $white-color;
  height: 100%;
  font-size: 12px;
  padding-left: 5px;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-left: 2px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.is-more {
    &:after {
      content: "";
      position: absolute;
      top: 3px;
      right: -7px;
      width: 14px;
      height: 14px;
      background-color: inherit;
      transform: rotate(45deg);
    }
  }
  &.has-icon {
    padding-left: 20px;
    > mat-icon {
      display: block;
      position: absolute;
      left: 0px;
      top: 1px;
      font-size: 18px;
    }
  }
  &.is-ellipsis-trigger:hover {
    padding-right: 20px;
    .btn-ellipsis-menu-trigger {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      mat-icon {
        font-size: 18px;
        line-height: 1.2;
        color: $white-color;
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        display: block;
      }
    }
  }
  .btn-ellipsis-menu-trigger {
    display: none;
  }
  > mat-icon {
    display: none;
    color: inherit;
  }
  .context-menu-trigger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
